{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Data</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/production.css' %}">
</head>
<body>
    <h1> {{patient_data.fname | capfirst}}, Please check your vitals below:</h1>
    <div class="form-container">        
            {% if vitals %}
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>BMI</th>
                        <th>Heart Rate</th>
                        <th>Respiration Rate</th>
                        <th>Temperature</th>
                    </tr>
                    {% for vital in vitals %}
                    <tr>
                        <td>{{ vital.date }}</td>
                        <td>{{ vital.height }}</td>
                        <td>{{ vital.weight }}</td>
                        <td>{{ vital.BMI }}</td>
                        <td>{{ vital.heart_rate }}</td>
                        <td>{{ vital.respiration_rate }}</td>
                        <td>{{ vital.temperature }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <p><a href="{% url 'main_page:update_form_vitals' %}">Update Vital information</a></p>
            {% else %}
                <p>No vital information available.</p>
            {% endif %}
        </div>

        <p><a href="{% url 'main_page:home' %}">Home page</a></p>
<!-- Logout Button -->
<form action="{% url 'main_page:logout_view' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="logout-button">Logout</button>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
